.container-content {
    width: 690px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wey {
    height: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    font-size: 12px;
    font-weight: normal;
    font-family: 'Monserrat Regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 18px;
}

.wey a {
    color: #333333B3;
}

.wey svg {
    margin-left: 4px;
    margin-right: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Monserrat Medium', Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 24px;
}

.container {
    border-bottom: 1px solid #DEDEDE;
}

.content .autor {
    margin-bottom: 24px;

    font-size: 14px;
    font-weight: normal;
    font-family: 'Monserrat Regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 20px;
    color: #494949;
} 

.content h1{
    margin-bottom: 16px;

    font-size: 48px;
    font-family: 'Montserrat Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 56px;
}

.calmness-img {
    height: 331px;
    margin-bottom: 24px;
}

 li li {
    margin-left: 10px;
}

.content ul {
    margin-left: 18px;
    list-style-image:url('../images/ellipse.png');
}

.soder li {
    margin-top: 8px;
}

.soder a {
    border-bottom: 1px solid black;
}

.content li > ul {
    list-style: none;
}

.soder {
    margin-bottom: 24px;
}

.content h3 {
    margin-bottom: 16px;

    font-size: 24px;
    font-family: 'Montserrat Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 32px;
}

.content p {
    margin-bottom: 24px;
}

.blue {
    margin-bottom: 24px;
    
    border-radius: 16px;
    padding: 24px;
    background: url('../images/cav.svg') 56px 36px no-repeat;
    background-position: top 24px left 24px;
    background-color: #F3F7FE;
}

.blue p {
    margin-bottom: 8px;
}

.content  > ul > li {
    margin-bottom: 16px;
}

.people-img {
    background: center/100% 100% no-repeat;
    height: 331px;
    margin-bottom: 16px;
}

.image-peole {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Monserrat Regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 130%;
    color: #868686;

    margin-bottom: 24px;
}

.text-oval {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 168px;
    background: url('../images/oval.png') center/240px 168px no-repeat;
    margin-bottom: 24px;
}

.text-oval p{
    width: 485px;
}

.collum {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.collum p {
    width: 385px;
}

.madam {
    width: 282px;
    height: 380px;
    background: url('../images/madam.png') center/100% 100% no-repeat;
}

.exercise {
    background-color: #FEFAEC;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 24px;
}

h4 {
    font-size: 16px;
    font-family: 'Montserrat Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 24px;
}

.exercise h4 {
    margin-bottom: 8px;
}

.exercise p {
    margin-bottom: 0;
}

.hands {
    width: 281px;
    background: url('../images/hands.png') center/100% 100% no-repeat;
}

.exercise.color {
    background-color: #FFF3EB;
}

.collums p{
    width: 333px;
}

.collums img {
    margin-bottom: 24px;
}

.content svg{
    align-self: center;
    margin-bottom: 24px;
}

.exercise.color-grin {
    background-color: #03B2A51A;
}

.end-content{
    margin-bottom: 48px;
}

.content .end-content-ul {
    margin-left: 8px;
    color: #2963A3;
    display: flex;
    flex-wrap: wrap;
    list-style: inside;
}

.content .end-content-li {
    font-size: 14px;
    font-family: 'Monserrat Regular', Arial, Helvetica, sans-serif;
    font-weight: 400;

    margin-left: 8px;
}

.content .end-content-li:first-child {
    margin-left: 0;
    list-style: none;
}

.container-main {
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
}

.container-aside {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 282px;
    justify-content: flex-start;

    font-size: 14px;
    font-family: 'Monserrat Regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.container-aside-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 24px;
}

.container-aside-div p, .container-aside-div img {
    margin-bottom: 24px;
}

.container-aside-div h4 {
    margin-bottom: 8px;
}

.qlick {
    background-color: #E6F0FD;
    padding: 24px;
}

.button-aside {
    height: 48px;
    width: 100%;
    border-radius: 4px;
    background-color: #35B3A9;
    color: #FFFFFF;

    font-family: 'Montserrat Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.psychologist {
    width: 100%;
    padding: 16px;
    height: 481px;
    border: 1px solid #DEDEDE;
}

.psychologist img {
    margin-top: -50px;
    border-radius: 50%;
} 

.container-aside-div-info-psychologist {
    width: 250px;
    border-bottom: 1px solid #DEDEDE;
}

.container-aside-div-info-psychologist h3 {
    font-family: 'Montserrat Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.container-aside-div-info-psychologist p {
    color: #A2A7B1;
    margin-bottom: 16px;
}

.container-aside-div-info-work {
    margin-top: 16px;
    text-align: left;
}

.container-aside-div-info-work li {
    list-style-image:url('../images/ellipse.png');
    margin-left: 15px;
    margin-bottom: 8px;
}

.container-aside-div-info-work li:last-child {
    margin-bottom: 20px;
}
.container-aside-div-button {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-self: start;
    align-items: start;
}
.container-aside-div-button button {
    margin-bottom: 8px;
    background-color: #F3F4F8B3;
    padding: 3px 6px;
    border-radius: 6px;
}

.present {
    width: 100%;
    height: 280px;
    background: url('../images/present.png') center/100% 100% no-repeat;
}

.sale {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 32px;
    height: 304px;
    border: 1px solid #DEDEDE;
    background: url('../images/mask.png') center/100% 100% no-repeat;
}

.container-aside .sale {
    text-align: left;
}

.sale h4{
    color: #2963A3;
    font-family: 'Montserrat Bold', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 16px;
}

.sale h3{ 
    font-family: 'Montserrat Bold', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 16px;
}

.button-aside.sale-button {
    width: 108px;
}
 
.end-component-main {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

.end-component-section {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-component-main-div {
    width: 348px;
}

.end-component-main-div h1 {
    margin-bottom: 24px;

    font-size: 48px;
    font-family: 'Montserrat Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 56px;
}

.end-component-main-div p {
    margin-bottom: 32px;

    font-size: 18px;
    font-weight: normal;
    font-family: 'Monserrat Regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 26px;
}

.end-component-main-div img {
    width: 520px;
}

.oval-end {
    position: absolute;
    right: 0px;
}

.end-component-main.container {
    border: none;
}

.duga {
    width: 100%;
}

.oval-center {
    position: absolute;
    right: 0px;
    top: 225%;
}

.container-header>.container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pro-max, .se {
    display: none;
}


@media screen and (max-width: 1300px) {
    .container {
        border: none;
    }
    .container-content {
        width: 714px;
    }
    .container-aside {
        width: 222px;
    }
    .end-content, .end-component-section, .oval-center, .duga {
        display: none;
    }
    .exercise.color-grin{
        margin-bottom: 0px;
    }
}

  
@media screen and (max-width: 1000px) {
    .container-content {
        width: 728px;
    }
    .container-main {
        flex-direction: column;
        margin-bottom: 25px;
    }
    .container-aside {
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
    }
    .container-aside-div {
        width: 356px;
        display: flex;
    }

    .container-aside-div.present, .container-aside-div.sale {
        height: 304px;
    }
}
  
@media screen and (max-width: 740px) {
    .container-content {
        width: 100%;
    }
    .collum {
        flex-direction: column;
        margin: 0;
    }
    .collum p {
        width: 100%;
    }

    .container-content img {
        width: 100%;
        height: 100%;
        margin-bottom: 16px;
    }

    .container-aside {
        margin-top: 56px;
    }

    .container-aside-div {
        width: 100%;
    }
    .desctop {
        display: none;
    }
    .pro-max {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .pro-max {
        display: none;
    }

    .se {
        display: block;
    }

}