.header {
    border-bottom: 1px solid #EFF5FB;
    margin-bottom: 16px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}


.nav {
    width: 60%;
}

.header-navigation {
    font-family: 'Montserrat Medium', Arial, Helvetica, sans-serif;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button-header {
    font-family: 'Montserrat Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 48px;
    width: 19%;
    font-size: 16px;
    background-color: #E3F5F5;
    color: #03B2A5;
    font-weight: bold;
}