.eggs {
    background-image: url('../images/eggs.png');
}

.legs {
    background-image: url('../images/legs.png');
}

.anger {
    background-image: url('../images/anger.png');
}

.calmness {
    background-image: url('../images/calmness.png');
}

.laughter {
    background-image: url('../images/laughter.png');
}

.people {
    background-image: url('../images/peopleAreComing.png');
}

.sleep {
    background-image: url('../images/sleep.png');
}

.smile {
    background-image: url('../images/smile.png');
}