* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style-type: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .container {
    width: 1200px;

}

@media screen and (max-width: 1300px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 728px;
  }
}

@media screen and (max-width: 740px) {
  .container {
    width: 368px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 288px;
  }
}